@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

#text1 {
    text-align: left;
}

.blue {
    color: #1a3669;
    font-weight: 700;
    font-style: italic;
}

#text1 {
    background-color: azure;
    border: 1px solid #1a3669;
    padding: 10px;
    text-align: justify;
    margin: 0px 10px 20px 10px;
    z-index: 200;
    position: absolute;
}

#text2 {
    background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    /*background-attachment: scroll;*/
    background-size: 100%;
    width: 500px;
    height: 100px;
    overflow: scroll;
    padding: 10px;
    margin: 10px;
    position: absolute;
    top: 25px;
    left: 150px;
    z-index: 100;
}

#text3 {
    border-top: 1px double blue;
    border-bottom: thick dotted red;
    border-left: 2px solid green;
    border-right: 2px dashed black;
    padding: 10px;
}